{% extends "nav_landing.html" %} {% load static %} {% block content %}

<div class="page-wrapper">
  <div class="container mt-5 mb-5">
    <div class="text-center mb-3">
      <h2>Hasil Diagnosa Depresi</h2>

      <p>Berikut adalah hasil diagnosa kamu!</p>
      <p>Nama: {{user.nama}}</p>
      <p>Jurusan: {{user.jurusan}}</p>
    </div>
    <div class="row mb-5">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        {% if per3 > 99 %}
        <div class="card">
          <img class="card-img-top" src="https://i.ibb.co/0JSfQyW/Post-traumatic-stress-disorder-amico.png3" alt="Title" />
          <div class="card-body">
            <h4 class="card-title">Depresi Berat</h4>
            <p class="card-text">Persentase: {{hasil}}</p>
            <p class="card-text">Solusi Belum Diisi</p>
          </div>
        </div>

        {% elif per2 > 95 %}

        <div class="card">
          <img class="card-img-top" src="https://i.ibb.co/BtbCJ9T/Depression-bro.png" alt="Title" />
          <div class="card-body">
            <h4 class="card-title">Depresi Sedang</h4>
            <p class="card-text">Persentase: {{hasil}}</p>
            <p class="card-text">Solusi Belum Diisi</p>
          </div>
        </div>
        {% elif per1 > 70 %}
        <div class="card">
          <img class="card-img-top" src="https://i.ibb.co/8Bg11tL/Feeling-Blue-pana.png" alt="Title" />
          <div class="card-body">
            <h4 class="card-title">Depresi Ringan</h4>
            <p class="card-text">Persentase: {{hasil}}</p>
            <p class="card-text">Solusi Belum Diisi</p>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>

<!--End of page-wrapper-->
{% endblock content %}
