{% extends "nav_landing.html" %} {% load static %} {% block content %}

<div class="page-wrapper">
  <div class="container mt-5">
    <div class="text-center mb-3">
      <h2>Diagnosa Depresi</h2>
      <p>Silahkan isi sesuai dengan keadaan dan kondisi kamu</p>
    </div>
    <form method="post" action="{% url 'handle_diagnosa' %}" id="diagnosaForm" class="row">
      {% csrf_token %}
      <div class="col-md-12">
        <div class="gejala-container">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="nama" class="form-label">Nama</label>
                <input type="text" class="form-control" name="nama" id="nama" aria-describedby="helpId" placeholder="" required />
                <small id="helpId" class="form-text text-muted">Masukkan Nama Kamu</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="jurusan" class="form-label">Jurusan</label>
                <input type="text" class="form-control" name="jurusan" id="jurusan" aria-describedby="helpId" placeholder="" required />
                <small id="helpId" class="form-text text-muted">Masukkan jurusan Kamu</small>
              </div>
              <input type="hidden" class="form-control" name="kode_pasien" id="kode_pasien" />
              
            </div>

            {% for gejala in gejala_list %}
            <div class="col-md-6 mb-2">
              <div class="gejala" data-gejala-id="{{ gejala.id }}">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">{{ gejala.keterangan_gejala }}</h4>
                    {% for keterangan in keterangan_list %}
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gejala_{{ gejala.kode_gejala }}" value="{{ keterangan.cf }}" />
                      <label class="form-check-label">{{ keterangan.keterangan }}</label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- Tambahkan konten di sini jika diperlukan -->
      </div>
      <div class="col-md-12">
        <div class="mt-2 d-flex flex-wrap gap-2 gap-xl-4 justify-content-center justify-content-lg-start">
          <button type="submit" class="text-nowrap btn btn-lg btn-info mb-2">Mulai Diagnosa</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Fungsi untuk menghasilkan angka acak dengan panjang tertentu
    function generateRandomNumber(length) {
      const characters = "0123456789";
      let result = "";

      for (let i = 0; i < length; i++) {
        const randomIndex = Math.floor(Math.random() * characters.length);
        result += characters.charAt(randomIndex);
      }

      return result;
    }

    // Fungsi untuk mengisi nilai pada input kode_pasien
    function generateKodePasien() {
      const kodePasienInput = document.getElementById("kode_pasien");
      const kodePasienValue = "Diag" + generateRandomNumber(5);
      kodePasienInput.value = kodePasienValue;
      console.log(kodePasienValue);
    }

    // Panggil fungsi generateKodePasien saat halaman dimuat
    generateKodePasien();
    
  });
</script>
<!--End of page-wrapper-->
{% endblock content %}
