<!-- di templates/nama_aplikasi/tambah_gejala.html -->

{% extends 'nav_dashboard.html' %} {% block content %}
<div class="container mt-4">
  <h2>{% if is_edit %}Edit{% else %}Tambah{% endif %} Gejala</h2>
  <form method="post" action="{% if is_edit %}{% url 'edit_ket' keterangan.kode_keterangan %}{% else %}{% url 'tambah_ket' %}{% endif %}">
    {% csrf_token %}

    <div class="mb-3">
      <label for="keterangan">Keterangan Gejala:</label>
      <textarea id="keterangan" name="keterangan" {% if is_edit %}{% endif %} required>{{ keterangan.keterangan }}</textarea>
    </div>

    <div class="mb-3">
      <label for="cf">cf:</label>
      <input type="text" id="cf" name="cf" value="{{ keterangan.cf }}" required />
    </div>

    <button type="submit" class="btn btn-primary">{% if is_edit %}Simpan Perubahan{% else %}Tambah{% endif %}</button>
  </form>
</div>
{% endblock %}
