{% extends "nav_landing.html" %}
{% load static %}
{% block content %}

    <!--page wrapper-->
    <div class="page-wrapper">
        <section class="overflow-hidden">
          <div class="container-fluid pt-6">
            <div class="">
              <div class="row px-3  banner-text">
                <div class="col-lg-5 mt-4 text-center text-lg-start">
                  <h2 class="lh-base">Sistem Pakar Menentukan 
  
                    <span class="text-info">Tingkat Depresi Mahasiswa</span> Tingkat Akhir
                  </h2>
                  <p class="subtext my-6">
                    <span class="fw-normal">Dibuat sesuai </span>dengan ilmu kepakaran
                    <span class="fw-normal">Psikologi</span> Untuk membantu mendiagnosa,
                    <span class="fw-normal">Tingkat Depresi</span> Mahasiswa,
                    <span class="fw-normal">Dalam Fase</span> Pengerjaan Tugas Akhir,
                  </p>
                  <div class="mt-2 d-flex flex-wrap gap-2 gap-xl-4 justify-content-center justify-content-lg-start">
                    <a href="#demos" class="text-nowrap btn btn-lg btn-info mb-2">Mulai Diagnosa</a>
                  </div>
                </div>
  
                <div class="col-lg-7">
                  <div class="hero-banner">
                    <img src="https://i.ibb.co/mT3KQVX/Depression-rafiki.png" alt="">
  
                  </div>
                </div>
              </div>
            </div>
        </section>
  
      </div>
      <!--End of page-wrapper-->
{% endblock content %}

