{% extends "nav_dashboard.html" %} {% load static %} {% block cssblock %}

<!-- This page plugin CSS -->
<link rel="stylesheet" href="{% static 'admin/dist/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" />
{% endblock cssblock %} {% block content %}

<div class="container-fluid">
  <!-- basic table -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="border-bottom title-part-padding">
          <h4 class="card-title mb-0">Keterangan Pakar</h4>
          <a class="btn btn-primary mt-2" href="{% url 'tambah_ket' %}">
            <span><i class="mdi mdi-plus me-2"></i>Tambah Data</span>
          </a>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-3"></h6>
          <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Keterangan</th>
                  <th>Nilai</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                {% for ket in ket_list %}
                <tr>
                  <td>{{ket.keterangan}}</td>
                  <td>{{ket.cf}}</td>
                  <td>
                    <a href="{% url 'edit_ket' ket.kode_keterangan %}" class="btn btn-sm btn-warning">
                      <span><i class="mdi mdi-pencil me-2"></i>Edit</span>
                    </a>
                    <a href="{% url 'hapus_ket' ket.kode_keterangan %}" class="mx-2 btn btn-sm btn-danger" onclick="return confirm('Apakah Anda yakin ingin menghapus gejala ini?')">
                      <span><i class="mdi mdi-trash-can me-2"></i>Delete</span>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>Keterangan</th>
                  <th>Nilai</th>
                  <th>Aksi</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block jsblock %}

<!--This page plugins -->
<script src="{% static 'admin/dist/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/dist/js/pages/datatable/datatable-basic.init.js' %}"></script>
{% endblock jsblock %}
