<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certainty Factor - Landing Page</title>
    {% load static %}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'lp/dist/images/favicon.png' %}" />

    <!-- <link href="../package/assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> -->
    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="dist/css/style.css"> -->
    <link href="{% static 'lp/dist/css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!--Main-wrapper-->
    <div class="main-wrapper">
      <header class="topheader py-3" id="top">
        <div class="container-fluid">
          <div class="px-3">
            <nav class="navbar navbar-expand-md navbar-light ps-0">
              <!-- Logo will be here -->
              <a class="navbar-brand" href="#"> Certainty Factor </a>

              <!--Toggle button-->
              <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <!-- This is the navigation menu -->
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto stylish-nav">
                  <li class="nav-item">
                    <a class="nav-link scroll-link" href="{% url "home" %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "home" %}">Tentang Pakar</a>
                  </li>
                  <li class="nav-item ms-3 mt-2 mt-md-0">
                    {% if user.is_authenticated %}
                    <a class="btn btn-info" href="{% url "logout" %}">Logout</a>
                    <a class="btn btn-info" href="{% url "dashboard" %}">Dasboard</a>
                    {% else %}
                    <a class="btn btn-info" href="{% url 'login' %}">Login</a>
                    {% endif %}
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>

      {% block content %}{% endblock content %}

      <a class="bt-top btn rounded-circle btn-info scroll-link py-3" href="#top"><i class="icon-arrow-up fs-5 my-2"></i></a>
      <!--Footer-->
      <footer class="bg-dark pt-3 pb-7">
        <div class="container-fluid">
          <div class="col-md-12 sub-footer mt-4 d-flex flex-wrap justify-content-between gap-3">
            <span>Copyright 2023. All Rights Reserved by <a class="text-white" href="#" target="_blank">Certainty Factor</a></span>
            <span class="float-end">Design & Developed by <a class="text-white" href="#" target="_blank">Muh. Fajar</a></span>
          </div>
        </div>
      </footer>
      <!--End of footer-->
    </div>
    <!--End of main wrapper-->

    <!--Scripts-->
    <script src="{% static 'lp/libs/dist/jquery.min.js'%}"></script>
    <script src="{% static 'lp/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    
    
  </body>
</html>
 