{% extends "nav_landing.html" %}
{% load static %}
{% block content %}

    <!--page wrapper-->
    <div class="page-wrapper">
        <section class="overflow-hidden">
          <div class="container-fluid pt-6">
            <div class="">
              <div class="row px-3  banner-text">
                <div class="col-lg-5 mt-4 text-center text-lg-start">
                  <h2 class="lh-base">Tentang Pakar 
  
                  </h2>
                  <p class="subtext my-6">
                    Sistem pakar (expert system) adalah sistem yang berusaha mengapdosi pengetahuan manusia ke komputer, agar komputer dapat menyelesaikan masalah seperti yang biasa dilakukan oleh para ahli. <br> Sistem pakar yang baik dirancang agar dapat menyelesaikan suatu permasalahan tertentu dengan meniru kerja dari para ahli.

                  </p>
                  <p class="subtext my-6">
                    Jadi, sistem pakar merupakan kepakaran ditransfer dari seorang pakar (atau sumber kepakaran yang lain) ke komputer, pengetahuan yang ada disimpan dalam komputer, dan pengguna dapat berkonsultasi pada komputer itu untuk suatu nasehat, lalu komputer dapat mengambil inferensi (menyimpulkan, mendeduksi, dll.) seperti layaknya seorang pakar, kemudian menjelaskannya ke pengguna tersebut, bila perlu dengan alasan-alasannya.
                  </p>
                  <div class="mt-2 d-flex flex-wrap gap-2 gap-xl-4 justify-content-center justify-content-lg-start">
                    <a href="{% url 'handle_diagnosa' %}" class="text-nowrap btn btn-lg btn-info mb-2">Mulai Diagnosa</a>
                  </div>
                </div>
  
                <div class="col-lg-7">
                  <div class="hero-banner">
                    <img src="https://i.ibb.co/42hCxHT/Mental-health-rafiki.png" alt="">
  
                  </div>
                </div>
              </div>
            </div>
        </section>
  
      </div>
      <!--End of page-wrapper-->
{% endblock content %}

